#================================================================
# Only allow serving of output files from user directories.
# This will prevent any malicious files that somehow got placed here to be served.
#----------------------------------------------------------------
order allow,deny
<Files ~ "\.(png|eps|bed)$">
allow from all
</Files>
